@import "./reset";
@import "./variables/global";
@import "./themes/light";
@import "./themes/dark";
@import "./themes/green";

.app {
    font: var(--font-m);
    background: var(--bg-color);
    color: var(--primary-color);
    min-height: 100vh;
}

.content-page {
    display: flex;
    position: fixed;
    width: 100vw;
}

*::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

*::-webkit-scrollbar-track {
    background: var(--bg-secondary-color);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--navbar-color);
    border-radius: 3px;
    border: var(--secondary-color) 1px solid;
}