.popup {
    position: relative;
}

.trigger {
    color: var(--primary-color);
    background: none;
    outline: none;
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;

    :hover {
        opacity: 0.8;
    }
}

.active {
    background: var(--navbar-color);
}

.disabled {
    cursor: auto;
}

.topRight {
    bottom: calc(100% + 8px);
    left: 0;
}

.topLeft {
    bottom: calc(100% + 8px);
    right: 0;
    left: auto;
}

.bottomRight {
    left: 0;
}

.bottomLeft {
    position: inherit;
    right: 0;
    left: auto;
}