.Input {
    color: var(--primary-color);
    background: var(--bg-color);
    border: var(--secondary-color) 1px solid;
    border-radius: 5px;
    padding: 5px 10px;
    width: 300px;
}

.readonly {
    border: none;
    outline: none;
}