.Input {
    color: var(--primary-color);
    border-radius: 5px;
    padding: 5px 10px;
}

.readonly {
    border: none;
    outline: none;
}

.normal {
    background: var(--bg-color);
    border: var(--secondary-color) 1px solid;
}

.clear {
    background: none;
    border: none;
    outline: none;
}