.app_dark_theme {
    --bg-color: #111;
    --bg-secondary-color: #002144;
    --navbar-color: #272752;
    --primary-color: #fff;
    --secondary-color: #ddd;

    // skeleton
    --skeleton-color: #393772;
    --skeleton-shadow: rgb(93, 87, 250, 0.8);

    // code
    --code-bg: #00001c;

    // card
    --card-bg: #2f2f2f;
}