.app_green_theme {
    --bg-color: #feffff;
    --bg-secondary-color: #e5eef8;
    --navbar-color: #1fa14f;
    --primary-color: #000;
    --secondary-color: #2f8118;

    // skeleton
    --skeleton-color: #adf5a9;
    --skeleton-shadow: rgb(108, 192, 70);

    // code
    --code-bg: #d6fac9;
}