.app_light_theme {
    --bg-color: #feffff;
    --bg-secondary-color: #e5eef8;
    --navbar-color: #9492d3;
    --primary-color: #000;
    --secondary-color: #5350a1;

    // skeleton
    --skeleton-color: #d8d6fa;
    --skeleton-shadow: rgb(83, 80, 161);

    // code
    --code-bg: #ececf6;

    // card
    --card-bg: #e8eaea;

    // listbox
    --listbox-bg: rgba(226, 233, 255, 0.9);
}